/* AppCore.css - 全画面共通スタイル（フォントなど） */
body {
  font-family:
    "游ゴシック", "ヒラギノ角ゴ ProN", "メイリオ", "MS Pゴシック", sans-serif;
  background: #fff;
}

/* デフォルトボタン */
.default-button {
  margin-top: 20px;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

/* ログアウトボタン */
.logout-button {
  background-color: firebrick;
}

.logout-button:hover {
  background-color: rgb(156, 2, 2);
}
